@import './reset.css';

@font-face {
  font-family: 'Russo one';
  src: url('../../assets/fonts/RussoOne-Regular.ttf');
}

:root {
  font-family: 'Russo one', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--colors-surfaces-main-0);
  color: var(--colors-typo-main-0);
  scrollbar-gutter: stable;
  overscroll-behavior: none;
}
