.header {
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    padding: 1rem 2rem;
    background-color: rgba(26, 26, 26, 0.8);
    backdrop-filter: blur(5px);
    margin: 0 auto;
    border-radius: 120px;
    transition: transform 0.28s ease, opacity 0.28s ease;
    border: 1px solid var(--border-color);
}

.light-theme .header {
    background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
    transform: translateX(-50%) translateY(-120%);
    opacity: 0;
    pointer-events: none;
}

.navigate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.leftNav {
    display: flex;
    gap: 2rem;
}

.rightNav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

a {
    color: var(--text-main);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover {
        color: var(--text-main);
    }
}


.logoutButton{
    outline: none;
    background: none;
    color: var(--text-main);
    border: none;
}